.site-logo {
    width: 50px;
}
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-links {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-left: 8px;
}